<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register - SB Admin</title>
    <link
      href="{{url_for('static',filename='css/styles.css')}}"
      rel="stylesheet"
    />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .error {
        color: red;
      }
    </style>
  </head>
  <body class="bg-primary">
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">
                      Create Account
                    </h3>
                    {% if user_id and not error %}
                    <div
                      class="alert alert-success alert-dismissible fade show"
                      role="alert"
                    >
                      <strong>Success!</strong> You has been created.
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                      ></button>
                    </div>
                    {% endif %} {% if error %}
                    <div
                      class="alert alert-danger alert-dismissible fade show"
                      role="alert"
                    >
                      <strong>Error!</strong> User already exists.
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                      ></button>
                    </div>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <form id="myForm" name="myForm" method="POST">
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="mb-3 mb-md-0">
                            <label for="fname">First name</label>
                            <input
                              class="form-control"
                              id="fname"
                              name="fname"
                              type="text"
                              placeholder="Enter your first name"
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3 mb-md-0">
                            <label for="inputLastName">Last name</label>
                            <input
                              class="form-control"
                              id="lname"
                              name="lname"
                              type="text"
                              placeholder="Enter your last name"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="inputEmail">Email address</label>
                        <input
                          class="form-control"
                          id="email"
                          name="email"
                          type="email"
                          placeholder="name@example.com"
                        />
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="mb-3 mb-md-0">
                            <label for="password">Password</label>
                            <input
                              class="form-control"
                              id="password"
                              name="password"
                              type="password"
                              placeholder="Create a password"
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3 mb-md-0">
                            <label for="confirmPassword"
                              >Confirm Password</label
                            >
                            <input
                              class="form-control"
                              id="confirmPassword"
                              name="confirmPassword"
                              type="password"
                              placeholder="Confirm password"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mt-4 mb-0">
                        <div class="d-grid">
                          <button type="submit" class="btn btn-primary w-100">
                            Create Account
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="card-footer text-center py-3">
                    <div class="small">
                      <a href="{{url_for('login')}}"
                        >Have an account? Go to login</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; Your Website 2023</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.21.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        console.log("Document is ready");
        $("#myForm").validate({
          rules: {
            fname: {
              required: true,
              minlength: 5,
            },
            email: {
              required: true,
              email: true,
            },
            password: {
              required: true,
              minlength: 6,
            },
            confirmPassword: {
              required: true,
              equalTo: "#password",
            },
          },
          messages: {
            username: {
              required: "Please enter a name",
              minlength: "Name must be at least 5 characters",
            },
            email: {
              required: "Please enter your email",
              email: "Enter a valid email address",
            },
            password: {
              required: "Please enter a password",
              minlength: "Password must be at least 6 characters",
            },
            confirmPassword: {
              required: "Please enter a confirm password",
              equalTo: "Passwords do not match",
            },
          },
          submitHandler: function (form) {
            alert("Form submitted successfully!");
            form.submit(); // Submit the form
          },
        });
      });
    </script>
  </body>
</html>
