{% extends "base.html" %} {% block styles %}
<style>
  .error {
    color: red;
  }
</style>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
/>
{% endblock %} {% block content %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Users</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="./">Dashboard</a></li>
    <li class="breadcrumb-item active">Users</li>
  </ol>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-users me-1"></i>
      Users
    </div>
    <div class="card-body">
      <table id="studentTable" class="display" style="width: 100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Level</th>
            <th>Doj</th>
            <th>Photo</th>
            <th>Status</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.21.0/dist/jquery.validate.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $("#studentTable").DataTable({
      processing: true,
      serverSide: true,
      ajax: {
        url: "/user_data",
        type: "POST",
      },
      columns: [
        { data: "id" },
        { data: "first_name" },
        { data: "last_name" },
        { data: "email" },
        { data: "mobile" },
        {
          data: "user_level",
          render: function (data, type, row) {
            if (data == 1) {
              return "Student";
            } else if (data == 2) {
              return "Teacher";
            } else if (data == 3) {
              return "Principal";
            } else if (data == 4) {
              return "Admin";
            } else if (data == 5) {
              return "Super Admin";
            } else if (data == 6) {
              return "Parent";
            } else if (data == 7) {
              return "Accountant";
            } else if (data == 8) {
              return "Front Office";
            } else if (data == 9) {
              return "Accounts Manager";
            } else if (data == 10) {
              return "Level One Manager";
            } else if (data == 11) {
              return "Level Two Manager";
            } else if (data == 12) {
              return "Management";
            } else if (data == 13) {
              return "Counsellor";
            } else if (data == 14) {
              return "PA";
            } else if (data == 15) {
              return "Librarian";
            } else if (data == 16) {
              return "Asst Librarian";
            } else if (data == 17) {
              return "Security";
            } else if (data == 18) {
              return "Transport Manager";
            } else if (data == 19) {
              return "Driver";
            } else if (data == 20) {
              return "Bus attender";
            } else {
              return "Data Entry";
            }
          },
        },
        { data: "doj" },
        { data: "photo" },
        {
          data: "user_status",
          render: function (data) {
            let badgeClass = data === 1 ? "success" : "danger";
            return `<span class="badge bg-${badgeClass}">${
              data == 1 ? "active" : "Inactive"
            }</span>`;
          },
        },
      ],
    });
  });
</script>
{% endblock %}
